*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN CSS */

body{
    font-size: 1rem;
    font-family: 'Red Hat Display', sans-serif;
    background: url('/images/pattern-background-mobile.svg');
    background-size: 400%;
    background-repeat: no-repeat;
    padding: 4.375rem 1.563rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(225, 100%, 94%);
}

.card{
    background: white;
    height: 35.313rem;
    width: 20.313rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}

.img{
    margin-bottom: 1.625rem;
}

.image{
    width: 20.313rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.text{
    text-align: center;
    margin-bottom: 1.625rem;
    background-color: white;
}

.title{
    color: hsl(223, 47%, 23%);
    margin-bottom: 1.625rem;
}



.inner-card{
    position: relative;
    left: 1.563rem;
    width: 17.188rem;
    height: 4.688rem;
    border-radius:0.5rem;
    padding: 0.5rem;
    margin-bottom: 1.625rem;
    background: var(--VeryPaleBlue);
    background-color: rgb(251, 247, 255);
}

.music-icon {
    display: inline;
    position: relative;
    left: 0.5rem;
    
}

.inner-card h4{
    position: relative;
    bottom: 1.5rem;
    left: 2rem;
    display: inline;
    color: var(--DarkBlue);
}

.inner-card span{
    position: relative;
    bottom: 1.5rem;
    left: 5.2rem;
    color: gray;
}

.inner-card a{
    position: relative;
    bottom: 2.5rem;
    left: 6.2rem;
    color: blue;
}

.inner-card a:hover{
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.5s ease-in-out;
}

.Proceed-button{
    margin-bottom: 1.625rem;
}

.Proceed-button .button{
    position: relative;
    left: 1.563rem;
    width: 17.188rem;
    height: 2.688rem;
    border: none;
    border-radius: 0.7rem;
    background-color: var(--BrightBlue);
    color: var(--VeryPaleBlue);
    font-family: inherit;
    cursor: pointer;
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}

.Proceed-button .button:hover{
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, .2);
    color: white;
    background-color: blue;
    opacity: 0.8;
    transition: all 0.5s ease-in-out;
}


.cancel{
    
    color: hsl(224, 23%, 55%);
    
}

.cancel-order{
    position: relative;
    color: hsl(224, 23%, 55%);
    height: 100px;
    top: 20px;
    left: 110px;
    text-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1) ;
    font-size: 15px;
}

.cancel-order:hover{
        transition: all 0.5s ease-in-out;
}

p{
	color: gray;
}

h4{
	color: hsl(223, 47%, 23%);
}

h1{
	font-size: 25px;
}
